<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCNet.Community.Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CCNet.Community.Plugins.Properties.Settings>
            <setting name="MetaWeblogDefaultTitleFormat" serializeAs="String">
                <value>{6} {2}: {5}</value>
            </setting>
            <setting name="MetaWeblogDefaultDescriptionFormat" serializeAs="String">
                <value>&lt;h4&gt;{6} {2}: {5}&lt;/h4&gt;&lt;h5&gt;Status&lt;/h5&gt;{7}&lt;br /&gt;&lt;h5&gt;Modifications&lt;/h5&gt;{0}&lt;br /&gt;&lt;h5&gt;Results&lt;/h5&gt;{1}&lt;br /&gt;&lt;h5&gt;Last Changeset Number&lt;/h5&gt;{3}&lt;br /&gt;&lt;h5&gt;Total Integration Time&lt;/h5&gt;{4}&lt;br /&gt;
&lt;div class="tags"&gt;&lt;span class="tagsLabel"&gt;Tags:&lt;/span&gt;{8}&lt;/div&gt;</value>
            </setting>
            <setting name="MetaWeblogDefaultTagFormat" serializeAs="String">
                <value>[ &lt;a rel="tag" href="http://technorati.com/tag/{0}"&gt;{0}&lt;/a&gt; ]</value>
            </setting>
        </CCNet.Community.Plugins.Properties.Settings>
    </applicationSettings>
</configuration>