<cruisecontrol>
  <project name="myCodePlexProject">
    <tasks>
      <xunit>
        <assemblies>
          <assembly>CCNet.Community.Plugins.Tests\bin\debug\CCNet.Community.Plugins.Tests.dll</assembly>
        </assemblies>
      </xunit>
    </tasks>
    <publishers>
      <twit>
        <username>twitterUser</username>
        <password>resUrettiwt</password>
        <projectUrl>http://codeplex.com/ccnetplugins</projectUrl>
      </twit>
      <metaweblog>
        <url>http://mydomain.com/services/metablog.aspx</url>
        <username>myUsername</username>
        <password>emanresUym</password>
        <tags>
          <tag>ccnet</tag>
          <tag>ccnetplugins</tag>
        </tags>
      </metaweblog>
      <codeplexRelease>
        <username>CodePlexUsername</username>
        <password>CodePlexPassword</password>
        <releases>
          <release releaseName="$(Label)">
            <buildCondition>ForceBuild</buildCondition>
            <releaseType>Production</releaseType>
            <description>$(ProjectName) $(Label) $(ReleaseType) $(ModificationComments)</description>
            <isDefaultRelease>true</isDefaultRelease>
            <releaseStatus>Released</releaseStatus>
            <showOnHomePage>true</showOnHomePage>
            <showToPublic>true</showToPublic>
            <releaseFiles>
              <releaseFile fileName="F:\bins\$(ProjectName)\$(Label)\$(ProjectName).$(Label).zip"
                       fileType="RuntimeBinary" mimeType="application/x-zip"
                       name="$(ProjectName).$(Label)" />
              <releaseFile fileName="F:\bins\$(ProjectName)\$(Label)\$(ProjectName).$(Label).src.zip"
                       fileType="SourceCode" mimeType="application/x-zip"
                       name="$(ProjectName).$(Label).src" />
              <releaseFile fileName="F:\bins\$(ProjectName)\$(Label)\$(ProjectName).$(Label).msi.zip"
                       fileType="RuntimeBinary" mimeType="application/x-zip"
                       name="$(ProjectName).$(Label).msi" />
            </releaseFiles>
          </release>
        </releases>
      </codeplexRelease>
    </publishers>
  </project>
</cruisecontrol>